services:
  migrator:
    build:
      context: .
      dockerfile: cmd/migrator/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    environment:
      PGCQRS_STORAGE_POSTGRES_URL: pgcqrs:pgcqrs-password@pg18:5432/pgcqrs_pg18?sslmode=disable
      # Open Telemetry Configuration
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://pgcqrs_devxp_otel:4317"
      OTEL_LOG_LEVEL: debug
      OTEL_EXPORTER: grpc
      OTEL_SERVICE_NAME: "pgcqrs-migrator"
      ENV: "dev"
    command: ["primary"]
    networks:
      - internal
      - platform

  pgcqrs:
    build:
      context: .
      dockerfile: cmd/service/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    restart: always
    environment:
      PGCQRS_STORAGE_POSTGRES_URL: pgcqrs:pgcqrs-password@pg18:5432/pgcqrs_pg18?sslmode=disable
      PGCQRS_LISTENER_ADDRESS: 0.0.0.0:9000
      PGCQRS_GRPC_LISTENER_ADDRESS: 0.0.0.0:9001
      # Open Telemetry Configuration
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://pgcqrs_devxp_otel:4317"
      OTEL_LOG_LEVEL: debug
      OTEL_EXPORTER: grpc
      OTEL_SERVICE_NAME: "pgcqrs"
      ENV: "dev"
    ports:
      - "26000:9000"
      - "26001:9001"
    expose:
      - 9000
      - 9001
    depends_on:
      migrator:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD","/service", "health-check", "http"]
      interval: 30s
      timeout: 1s
      retries: 3
      start_interval: 1s
      start_period: 1s
    networks:
      - internal
      - platform

volumes:
  postgres_data:

networks:
  internal:
    name: pgcqrs_dev
    external: true
  platform:
    name: pgcqrs_platform
    external: true
