name: Go

on:
  push:
    branches:
      - '!main'

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        go-version: [ '1.24' ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      # You can test your matrix by printing the current Go version
      - name: Build and run unit tests ${{ matrix.go-version }}
        run: |
          ./build.sh
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Run integration tests
        run: |
          docker run --publish 5432:5432 --name pg -e POSTGRES_PASSWORD=mysecretpassword --detach postgres
          timeout 60s sh -c 'until docker ps | grep pg | grep -q Up; do echo "Waiting for postgres to be healthy..."; sleep 2; done'
          sleep 5
          CFG_PRIMARY=$PWD/deploy/integration-tests/primary.json ./migrator primary
          CFG_PRIMARY=$PWD/deploy/integration-tests/primary.json ./integration-tests.sh
